.banner {
  height: 496px;
  z-index: -2;
}

.square-main {
  margin-top: -90px;
}

.square-side {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.square-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
  overflow: hidden;
  z-index: 2;
}

.square-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  transition: filter .7s;
  filter: blur(5px);
}

.square-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(56, 86, 100, 0.8);
  transition: background-color .7s;
  z-index: -1;
}

.square-text {
  letter-spacing: 10px;
  writing-mode: vertical-lr;
}

.square-filter-active {
  background-color: rgba(215, 255, 253, 0.8);
  transition: background-color .7s;
}

