<div class="bg-primary py-6">
  <div class="container">
    <div class="row justify-content-center">
      <div
        class="col-md-5 col-10 d-flex align-items-center mb-md-0 mb-7 justify-content-md-start justify-content-center">
        <h3 class="font-xl text-secondary font-weight-normal">訂閱你我的鑽石郵件</h3>
      </div>

      <div class="col-md-5 col-10">
        <div class="form--group d-flex">
          <label for="email" class="position-relative">
            <span class="material-icons position-absolute email-icon text-primary">
              email
            </span>
          </label>
          <input type="email" id="email" class="form-control w-100 pl-8 py-6 bg-secondary border-radius-0">
          <button class="btn btn-success arrow-btn p-3"><span class="material-icons">
              arrow_forward
            </span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-secondary pt-7">
  <div class="container">
    <div class="row justify-content-center mb-md-7 mb-0">
      <div class="col-md-10 d-flex flex-column justify-content-between">

        <ul class="py-md-0 py-7">
          <li>
            <a href="tel:07-1234-5678">07-1234-5678</a>
          </li>
          <li>
            <a href="mailto:diamond@email.com">diamond@email.com</a>
          </li>
          <li class="text-primary">
            813 高雄市新興區鑽石路 999 號
          </li>
        </ul>
      </div>

    </div>
    <div class="row justify-content-center align-items-center pb-md-5 pb-0">
      <div class="col-md-5">
        <ul class="d-flex mb-md-0 mb-5">
          <li><a href=""><i class="fab fa-facebook font-xl icon-social mr-2">
              </i></a></li>
          <li><a href=""> <i class="fab fa-instagram font-xl icon-social mr-2"></i></a></li>
          <li><a href=""><i class="fab fa-twitter font-xl icon-social"></i></a></li>
        </ul>
      </div>

      <div class="col-md-5 pb-md-0 pb-7">

        <h4 class="text-primary font-sm text-md-right text-left mb-3">© 2018 Sweetaste* All Rights Reserved</h4>
        <p class="font-lg text-md-right text-left">本作品僅練習用途，非商業營利</p>
      </div>
    </div>
  </div>
</div>