<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed d-md-none" data-toggle="collapse" data-target="#navbarList"
      aria-controls="navbarList" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-icons burger-btn">
        menu
      </span>
    </button>
    <h1 class="font-xxl">
      <a href="index.html" class="">Diamond</a>
    </h1>
    <a href="cart.html" class="nav-link d-flex align-items-center order-md-1"><span class="material-icons">
        shopping_cart
      </span></a>
    <div class="navbar-collapse collapse" id="navbarList">
      <ul class="navbar-nav ml-auto mt-md-0 mt-3">
        <li class="nav-item <% if (current === 'index') { %>active<%} %>"><a href="index.html"
            class="nav-link text-primary font-md">首頁</a>
        </li>
        <li class="nav-item <% if (current === 'products') { %>active<%} %>"><a href="products.html"
            class="nav-link text-primary font-md">鑽石</a></li>
        <li class="nav-item <% if (current === 'login') { %>active<%} %>"><a href="login.html"
            class="nav-link text-primary font-md">登入</a></li>
      </ul>
    </div>
</nav>