.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.info-img {
  min-height: 250px;
}

.vertical-items {
  line-height: 2;
  max-height: 420px;
  @include media-breakpoint-up(md) {
    line-height: 2;
  }
}

.payment-img {
  width: 120px;
  height: 80px;
}

@include media-breakpoint-down (sm) {
  .pay-success-img {
    height: 538px !important;
  }
}
