
.navbar-toggler, .navbar-light {
  border: none;
}

.arrow-btn {
  border-radius: 0;
}

.form-input {
  border: none;
}

.border-left-white {
  border-left: 1px solid #ffffff;
}

.border-secondary {
  border: 1px solid  $secondary;
}

.border-right-secondary {
  border-right: 1px solid  $secondary;
}

.border-radius-0 {
  border-radius: 0;
}

@include media-breakpoint-down (md) {
  .border-row-secondary {
    border-left: 1px solid $secondary;
    border-right: 1px solid $secondary;
  }
}

@include media-breakpoint-down (sm) {
  .border-col-secondary {
    border-bottom:  1px solid $secondary;
    border-top: 1px solid $secondary;
  }
}

.sidebar-links {
  border: 1px solid $secondary;
}