.square-items {
   &.current, &:hover, &:focus {
    .square-text {
      color: $primary !important;
     }
    .square-filter {
      background-color: rgba(126, 137, 155, 0.8);
    }
    .square-img {
      filter: blur(0);
    }
  }
}

.sidebar-links:hover {
  background: $secondary;
}

.sidebar-links-current {
  background: $secondary;
}

.btn-social {
  &:hover {
    background: #b3d0e7;
  }
}