.card-items-bg {
  position: relative;
  p, span {
    position: absolute;
  }
  span {
    top: 10px;
    right: 22px;
    color: $primary;
    cursor: pointer;
  }
  p {
    top: 0;
    left: 10px;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    background-color: $primary;
    color: #ffffff;
    padding: 10px 7px;
  }
}

.card-items-img {
  height: 315px;
 }

 .sidebar-title {
  background: $primary;
}