.process-bar {
    position: relative;
    display: flex;
    justify-content: space-between;
  .circle-bar {
    position: relative;
    height: 20px;
    width: 20px;
    border: 1px solid $info;
    border-radius: 20px;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;  
    background-color: $info;
  }
  .circle-bar.active {
    border-color: $secondary;
    &:after {
      content: "";
      height: 14px;
      width: 14px;
      display: block;
      background-color: $secondary;
      border-radius: 20px;
    }
  }
  .circle-bar.completed {
    font-size: 16px;
    background-color: $secondary;
    color: $primary;
  }

  &.process-bar-dark {
    border-color: $primary;
 
    &:after {
    background-color: $primary;
      }
    .circle-bar {
      border-color: $primary;
    }
    .circle-bar.active {
      border-color: $primary;
      &:after {
        background-color: $primary;
      }
    }
    .circle-bar.completed {
      background-color: $primary;
      color: $secondary;
    }
  }
}
